<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8fd3facc-f009-4480-b6df-6512ee24bd57/resourceGroups/MKGhare/providers/Microsoft.ApiManagement/service/JewelleryWebApplicationWebApi/apis/JewelleryWebApplication</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/8fd3facc-f009-4480-b6df-6512ee24bd57/resourceGroups/MKGhare/providers/Microsoft.Web/sites/MKGhare</ResourceId>
    <ResourceGroup>MKGhare</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mkghare.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>895afc67-958e-4154-b933-db9da3d17a96</ProjectGuid>
    <PublishUrl>https://mkghare.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MKGhare</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>